[submodule "themes/void"]
	path = themes/void
	url = https://github.com/Daucloud/hugo-theme-void
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
